/node_modules
/public/mix-manifest.json
/public/js
/public/css
/public/hot
/public/storage
/public/docs
/public/records
/public/livewire
/storage/*.key
/vendor
.env
.phpunit.result.cache
.scribe
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
_ide_helper*
.phpstorm.meta.php
auth.json
storage
